#flex-box {
  position: relative;
  display: flex;
  background-color: rgb(120, 20, 90);
  width: 420px;
  height: 700px;
  flex-wrap: wrap;
  padding: 20px;
  margin: 60px auto;
  border: 5px solid black;
  z-index: -1;

  /*
    Mude as quatro propriedades abaixo
  */

  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: space-around;
}

#flex-box > div {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 3px solid black;
}

#flex-box > .diferentao {
  background-color: rgb(80, 180, 120);

  /*
    Mude a propriedade abaixo
  */

  align-self: flex-end;
}

/*
  Não se preocupe com o código abaixo daqui.
*/

body {
  background-color: rgb(220, 220, 220);
}

.flex-box-row {
  column-gap: 20px;
}

.flex-box-row > .column {
  visibility: hidden;
}

.flex-box-row > .row {
  visibility: visible;
}

.flex-box-column {
  row-gap: 20px;
}

.flex-box-column > .column {
  visibility: visible;
}

.flex-box-column > .row {
  visibility: hidden;
}

.axis-unit {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 2px solid grey;
}

.row {
  height: 175px;
  width: 100%;
  left: 0;
}

.row:nth-of-type(1) {
  top: 20px;
}

.row:nth-of-type(2) {
  top: 195px;
}

.row:nth-of-type(3) {
  top: 370px;
}

.row:nth-of-type(4) {
  top: 545px;
}

.column {
  height: 100%;
  width: 140px;
  top: 0;
}

.column:nth-of-type(5) {
  left: 20px;
}

.column:nth-of-type(6) {
  left: 160px;
}

.column:nth-of-type(7) {
  left: 300px;
}

.flex-box-not-stretched .column,
.flex-box-not-stretched .row {
  visibility: hidden;
}

#axes {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  width: 100%;
}

#horizontal-axis {
  position: absolute;
  width: 440px;
  top: 35px;
  left: 50%;
  transform: translateX(-55%);
}

#horizontal-axis .arrow-body {
  display: block;
  height: 5px;
  background-color: black;
}

#horizontal-axis .arrow-head {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid black;

  transform: translate(50%, -35%);
}

#horizontal-axis .axis-label {
  position: absolute;
  transform: translateY(-120%);
}

#vertical-axis {
  position: absolute;
  height: 740px;
  top: 35px;
  left: 22%;
  transform: translateX(-55%);
}

#vertical-axis .arrow-body {
  display: block;
  width: 5px;
  height: 100%;
  background-color: black;
}

#vertical-axis .arrow-head {
  position: absolute;
  top: 100%;
  right: 50%;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;

  transform: translate(50%, -35%);
}

#vertical-axis .axis-label {
  position: absolute;
  width: max-content;
  top: 50px;
  left: 35px;
  transform: translateX(-100%) rotateZ(-90deg);
}

#hide-axes {
  position: absolute;
  top: 50%;
  background-color: black;
  color: white;
  border: none;
  padding: 20px 30px;
}

#hide-axes:hover {
  background-color: rgb(50, 50, 50);
}

.axes--hidden {
  visibility: hidden;
}
