main {
  flex: 1;
  padding: 48px;
  max-width: 960px;
}

header {
  padding: 48px 0;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}